.login{
    width: 100%;
    height: 41px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #EDEEF0;
    margin-bottom: 24px;
    line-height: 42px;
}
.login .fl span,.login p{
    padding-right: 22px;
    color: #999;
}
.login input{
    width: 98px;
    height: 22px;
    margin-right: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.nav .logo{
    width: 191px;
    height: 54px;
    background: url("../images/fri-logo.png");
    margin-right: 165px;
    margin-bottom: 26px;
}
.nav .nav ul{
    display: flex;
}
.nav .nav ul li{
    flex: 1;
    margin: auto;
    line-height: 30px;
}
.nav .nav ul li a{
    color: #535353;
}
.search{
    width: 100%;
    height: 80px;
    padding: 23px 163px;
    margin-bottom: 32px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #DBDBDB;
    box-sizing: border-box;
}
.search .zoom{
    width: 34px;
    height: 34px;
    background: url("../images/fri-zoom.png");
    margin-right: 10px;
}
.search p{
    line-height: 36px;
    margin-right: 44px;
}
.search input,.search .sex{
    width: 98px;
    height: 32px;
    border: 1px solid #ccc;
}
.search .area{
    width: 198px;
    height: 32px;
    border: 1px solid #ccc;
}
.search .sou{
    display: inline-block;
    width: 120px;
    height: 34px;
    background-color: #FA4E7E;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}
.content{
    padding-bottom: 55px;
}
.content .left{
    width: 270px;
}
.content .left .title{
    width: 270px;
    height: 34px;
    margin-bottom: 20px;
    border-bottom: 2px solid #E3E3E3;
}
.content .left h5{
    font-size: 18px;
    font-weight: bold;
    color: #FA4D7D;
    padding-bottom: 2px;
    border-bottom: 2px solid #FA4D7D;
}
.content .left ul{
    margin-bottom: 55px;
}
.content .left ul li{
    display: flex;
    line-height: 24px;
}
.content .left ul li span,.content .left ul li em{
    flex: 1;
    margin: auto;
    color: #999;
}
.content .left ul li span{
    color: #333;
}
.content .left .yue{
    width: 268px;
    height: 58px;
    padding: 10px;
    background-color: #FCFCFC;
    line-height: 58px;
}
.content .left .yue p{
    font-size: 22px;
    color: #666;
    box-sizing: border-box;
}
.content .left .yue span{
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 14px;
    background-color: #FB4E7E;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}
h4{
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 3px solid #FA4D7D;
    font-size: 20px;
    color: #FA4D7D;
}
.content .right{
    width: 860px;
}
.content .right dl{
    float: left;
    margin-bottom: 16px;
    margin-right: 72px;
}
.content .right dl:nth-child(3n+1){
    margin-right: 0;
}
.content .right dl dt{
    line-height: 18px;
    font-weight: bold;
    color: #444;
}
.content .right dl dd{
    width: 238px;
    line-height: 18px;
    color: #444;
}